@font-face {
    font-family: vazir;
    src: url("./fonts/Vazirmatn-Regular.ttf");
}
@font-face {
    font-family: "Roboto Slab";
    src: url("./fonts/static/RobotoSlab-Regular.ttf");
}
@font-face {
    font-family: pixely;
    src: url("./fonts/static/PixelifySans-Regular.ttf");
}
.vazir {
    font-family: vazir;
}

* {
    transition: all 50ms;
    box-sizing: border-box;
    font-family: "Roboto Slab";
}
h2 {
    font-family: pixely;    
}
a {
    color: unset;
}
a:hover {
    opacity: 0.8;
}
svg {
    width: 30px;
    height: 30px;
}
details {
    margin: 10px 0;
    border: 1px var(--primary-color) solid;
}
details p {
    padding: 5px;
}
details audio {
    width: 100%;
    margin-bottom: 20px;
}
summary {
    color: var(--bg-color);
    background-color: var(--primary-color);
    font-size: 1.2rem;
    padding-left: 5px;
}
body {
    padding: 5px;
    margin: 0;
    width: 100%;
    max-width: 1110px;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
}
.socials {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.socials a {
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.socials a div {
    text-align: center;
    max-width: 10ch;
}
.bigger-posts-section p {
    text-align: left;
}

/* themes  */
@media (prefers-color-scheme: dark) {
    /* Styles for dark mode */
    :root {
        --primary-color: #fbfbfe;
        --bg-color: #1c1b22;
        background-color: var(--bg-color);
        color: var(--primary-color);
    }
    a:hover, a:active {
        color: #c1283f;
    }
}
.post-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (prefers-color-scheme: light) {
    /* Styles for light mode */
    :root {
        --primary-color: #15141a;
        --bg-color:  #fbfbfe;
        background-color: var(--bg-color);
        color: var(--primary-color);
    }
    a:hover {
        color: #154399;
    }
}
@media (max-width: 700px) {
    a.telegram-link-desktop {
        display: none;
    }
}
@media (min-width: 700px) {
    a.telegram-link-mobile {
        display: none;
    }
}